<div id="jplayer" class="cp-jplayer" />
<div id="circleplayer" class="cp-container">
  <div class="cp-buffer-holder">
    <div class="cp-buffer-1" />
    <div class="cp-buffer-2" />
  </div>
  <div class="cp-progress-holder">
    <div class="cp-progress-1" />
    <div class="cp-progress-2" />
  </div>
  <div class="cp-circle-control" />
  <ul class="cp-controls">
    <li>
      <a class="cp-play" tabindex="1">play</a>
    </li>
    <li>
      <a class="cp-pause" style="display: none;" tabindex="1">pause</a>
    </li>
  </ul>
</div>