<div id="jplayer" class="cp-jplayer" />
<div id="circleplayer" class="cp-container">
  <div class="cp-buffer-holder">
    <div class="cp-buffer-1" />
    <div class="cp-buffer-2" />
  </div>
  <div class="cp-progress-holder">
    <div class="cp-progress-1" />
    <div class="cp-progress-2" />
  </div>
  <div class="cp-circle-control" />
  <ul class="cp-controls">
    <li>
      <a class="cp-play" tabindex="1"><%=App.i18n("Play")%></a>
    </li>
    <li>
      <a class="cp-pause" style="display: none;" tabindex="1"><%=App.i18n("Pause")%></a>
    </li>
  </ul>
</div>
<div class="trigger previous-track"><%=App.i18n("Previous Track")%></div>
<div class="trigger next-track"><%=App.i18n("Next Track")%></div>
<div class="trigger shuffle"><%=App.i18n("Shuffle")%></div>
<div class="trigger repeat"><%=App.i18n("Repeat")%></div>