@import "libs/vendor/normalize.less";
@import "libs/vendor/boilerplate.less";
@import "../../js/libs/vendor/jquery.dataTables-1.9.4/css/jquery.dataTables.css";
@import "../../js/libs/vendor/jquery.jplayer-2.3.0/circle.player.css";
body {
  background-color: #f0f0f0;
}
#audio-player {
  .controls {
    position: fixed;
    top: 0;
    right: 0;
  }
  .playlist {
    padding-right: 220px;
  }
}